<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Explore Friends</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFriendsRequestsList()">
        <ion-icon start name="person-add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar placeholder="search your friend name" (ionInput)="onSearchPage($event)"></ion-searchbar>
</ion-header>


<ion-content padding>
    <ion-list [virtualScroll]="displayedfriendsList" class="item-list" >
        <div *virtualItem="let item">
          <ion-card>
            <ion-card-content class="friend">
              <div>
                  <h1>{{item.name}}</h1>
              </div>
              <div padding>
                <button *ngIf="item?.Notfriends==true" (click)="sendFriendRequest(item)" ion-button >
                  <span>{{_btnText}}</span>
                </button>
                <h2 *ngIf="item?.Notfriends==false || !item.Notfriends">
                  <span> He/she is already your friend </span>
                </h2>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
    </ion-list>
    <div *ngIf="displayedfriendsList.length==0 && _searchText" class="empty-list">
      There are no friends , Acording to your search
    </div>
</ion-content>
