page-friends {
    .friend{
        height: 125px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >div:first-child{
            flex: 4;
        };
        >div:last-child{
            display: flex;
            flex:4;
            >button:focus{                
                background-color: green;
            }
        };

    }
}
