page-friends {
    .friend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >div:first-child{
            flex: 4;
        };
        >div:last-child{
            display: flex;
            flex:4;
            >button:active{
                
                background-color: green;
            }
        }
    }

    .profile-img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}
