.item-list{   
    >div{
        width: 100%;
        padding-bottom: 1px;
        margin-bottom: 5px;
   }
}

.empty-list{
    margin-top: 20% !important;
    color: map-get($colors, primary);
    font-size: 2.5rem;
    margin-left: 20%;
}